.wrapper{
    width: 50%;
    height: 50%;
    background-color: #fff;
    color: black;
    display: flex; 
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(195, 189, 189);
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.title {
    width: 80%;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(6, 128, 6);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.copyBtn {
    border-radius: 20px;
    width: 20%;
    margin: auto;
}

.charLength {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding-bottom: 24px;
}

.charLength span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    margin-bottom: 24px;
}

.checkboxes {
    display: grid;
    grid-template-columns: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 24px;
}

.checkboxes div {
    display: flex;
    gap: 5px;
    padding-bottom: 25px;
}

.generateBtn {
    font-size: 25px;
    padding: 20px;
}

.errorMessage{
    color: red;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.23);
    margin: 2px;
    border-radius: 20px;
    padding: 5px 10px;
}

